.App {
  background-color: hsl(0, 0%, 98%);
}

.Hero {
  display: flex;
  justify-content: space-between;
  padding: 5em 4rem;
}

.filter {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  /* border: 1px solid red; */
}

.auto {
  display: flex;
  align-items: center;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  gap: 15px;
  padding: 5px;
}

.myCards {
  width: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.countryCards {
  display: flex;
  justify-content: space-around;
}
